<main id="main" class="main">
  <div class="pagetitle">
    <h1>Đơn hàng</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
        <li class="breadcrumb-item">Đơn hàng</li>
        <li class="breadcrumb-item active">Đơn hàng đã chấp nhận</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Đơn hàng đã chấp nhận</h5>
            <table class="table">
              <thead>
              <tr>
                <th style="display: inline-block !important;word-wrap: normal "><input type="checkbox">Chọn nhiều</th>
                <th>Mã đơn</th>
                <th>Ngày mua</th>
                <th>Địa chỉ</th>
                <th>Tổng tiền</th>
                <th>Thanh toán</th>
                <th>Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders">
                <th><input type="checkbox"></th>
                <td class="orderCode"><a [routerLink]="['/order-detail/' + order.orderId]">{{order.orderCode}}</a></td>
                <td>{{order.createDate}}</td>
                <td>{{order.address}}</td>
                <td class="price" style="color:#fcaf17;">{{order.totalPrice}}₫</td>
                <td>{{order.payed ? 'Đã thanh toán' : 'Chưa thanh toán'}}</td>
                <td>
                  <button class="btn btn-primary btn_appored" style="margin-right: 5px"><i class="bi bi-check-circle-fill"></i></button>
                  <button class="btn btn-danger"><i class="bi bi-x-circle-fill icon-check"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
