<main id="main" class="main">
  <div class="pagetitle">
    <h1>Đơn hàng</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
        <li class="breadcrumb-item">Đơn hàng</li>
        <li class="breadcrumb-item active">Đơn hàng mới nhất</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div id="search-container">
              <form action="" [formGroup]="filterOrderForm">
                <input type="search" formControlName="textSearch" placeholder="Tìm theo mã">
                <span class="span_startDate">Từ<input formControlName="startDate" type="date" id="startDate"></span>
                <span class="span_endDate">Đến<input formControlName="endDate" type="date" id="endDate"></span>
                <button id="search" (click)="getListOrder()">Tìm kiếm</button>
                <div style="float: right" *ngIf="ordersActive.length > 0">
                  <button class="btn btn-info btn-checkout" data-bs-toggle="modal" data-bs-target="#modal_accept "
                          style="margin-right: 5px; margin-bottom: 5px; background-color:green"
                          (click)="fillDataToFormControl()"><i class="bi bi-check-square-fill icon-check"> Xác nhận
                    đơn</i>
                  </button>
                  <button class="btn btn-danger btn-cancel" data-bs-toggle="modal" data-bs-target="#modal_reject"
                          style="margin-right: 5px; margin-bottom: 5px; background-color:red"
                          (click)="fillDataToFormControl()"><i class="bi bi-x-circle-fill icon-check"> Hủy đơn</i>
                  </button>
                </div>
              </form>

            </div>
            <table class="table">
              <thead>
              <tr>
                <th><label class="toggle">
                  <input class="checkbox" type="checkbox" [(ngModel)]="checkAll"
                         (change)="selectAll()">
                </label></th>
                <th>Mã đơn</th>
                <th>Ngày mua</th>
                <th>Thông tin</th>
                <th>Tổng tiền</th>
                <th>Thanh toán</th>
                <th>Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders">
                <th><label class="toggle">
                  <input class="checkbox" type="checkbox"
                         [(ngModel)]="order.isActive"
                         (ngModelChange)="onItemSelectSpecialType()">
                </label></th>
                <td class="orderCode"><a [routerLink]="['/order-detail/' + order.orderId]">{{order.orderCode}}</a></td>
                <td>{{order.createDate}}</td>
                <td>{{order.customerInfoRes?.name}}, {{order.customerInfoRes?.phone}}, {{order.customerInfoRes?.address}}</td>
                <td class="price" style="color:#fcaf17;">{{order.totalPrice}}₫</td>
                <td>{{order?.payed ? 'Đã thanh toán' : 'Chưa thanh toán' }}</td>
                <td>
                  <button class="btn btn-info btn-checkout tooltip-test" title="Xác nhận đơn hàng"
                          data-bs-toggle="modal" data-bs-target="#modal_accept "
                          style="margin-right: 5px; margin-bottom: 5px; background-color:green "
                          (click)="fillDataToFormControl(order.orderId)"><i
                    class="bi bi-check-square-fill icon-check"></i>
                  </button>
                  <button class="btn btn-danger btn-cancel tooltip-test" title="Hủy đơn hàng" data-bs-toggle="modal"
                          data-bs-target="#modal_reject"
                          style="margin-right: 5px; margin-bottom: 5px; background-color:red "
                          (click)="fillDataToFormControl(order.orderId)"><i class="bi bi-x-circle-fill icon-check"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  change status-->
  <div class="modal fade" id="modal_accept" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Vui lòng xác nhận !</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--        <div class="modal-body">-->
        <!--          <form [formGroup]="changOrderStatusToAcceptForm">-->
        <!--            <textarea class="form-control" id="noteStatus" rows="3" formControlName="note"></textarea>-->
        <!--          </form>-->
        <!--        </div>-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" style="background-color:green" class="btn btn-primary"
                  (click)="changOrderStatusToAccept()" data-bs-dismiss="modal">Xác nhận đơn
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Reject Order-->
  <div class="modal fade" id="modal_reject" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Vui lòng xác nhận !</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--        <div class="modal-body">-->
        <!--          <form [formGroup]="changOrderStatusToAcceptForm">-->
        <!--            <textarea class="form-control" id="noteStatusReject" rows="3" formControlName="note"></textarea>-->
        <!--          </form>-->
        <!--        </div>-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" style="background-color:red" class="btn btn-primary" (click)="rejectOrder()"
                  data-bs-dismiss="modal">Từ chối đơn hàng
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
