
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Đơn hàng</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
        <li class="breadcrumb-item">Đơn hàng</li>
        <li class="breadcrumb-item active">Đơn hàng được chấp nhận</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Đơn hàng được chấp nhận</h5>
            <table class="table">
              <thead>
              <tr>
                <th>Mã đơn</th>
                <th>Ngày mua</th>
                <th>Địa chỉ</th>
                <th>Giá trị đơn hàng</th>
                <th>Trạng thái thanh toán</th>
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor="let order of orders">
                <td class="orderCode" ><a [routerLink]="['/order-detail/' + order.orderId]">{{order.orderCode}}</a></td>
                <td>{{order.createDate}}</td>
                <td>{{order.address}}</td>
                <td class="price" style="color:#fcaf17;" >{{order.totalPrice}}₫</td>
                <td>{{order.payed ? 'Đã thanh toán' : 'Chưa thanh toán'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
