.orderCode:hover {
  color: blue;
  cursor: pointer;
}
.icon-check {
  color: white;

}

.btn-checkout,.btn-cancel {
  border: none;
}
.btn-checkout:hover {
  background-color: blue ; /* Green */
  border: none;
  color: white;
}
.btn-cancel:hover {
  background-color: #0c4128 ; /* Green */
  border: none;
  color: white;
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 230px;
  border: none;
  border-bottom: 2px solid #110f29;
  padding : 0.5em 0.3em;
}
#search-container input :focus {
  border: none;
  border-bottom-color: #6759ff;
}

#search-container button {
  padding : 0.5em 0.5em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top : 0.5em
}
.span_startDate, span_endDate {
  margin-left: 1em;
  margin-right: 1em;
}

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #009578;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

